

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;


}

:root {
  --hue: 2;
  --bg-primary: hsl(var(--hue), 0%, 90%);
  --bg-secundary: hsl(var(--hue), 80%, 20%);
  --bg-secundary-hover: hsl(var(--hue), 55%, 37%);
  --cl-primary: hsl(var(--hue), 100%, 9%);
  --cl-secundary: hsl(var(--hue), 0%, 100%);

}
body {
  background-color: var(--bg-primary);
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}
div {
  text-align: center;
  width: 300px;
  margin: 60px auto;
  
}
img {
  width: 100%;
  border-radius: 50%;
  width: 150px;
  border: 4px var(--bg-secundary) solid;
  padding: 4px;
}

h1 {
  margin-top: 16px;
  margin-bottom: 8px;
  color:var(--cl-primary);
  font-weight: 700;
  opacity: 0.9;
}

p {
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 40px;
  color: var(--cl-primary);
  opacity: 0.8;
}

ul {
   list-style: none;
}



ul li a {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 14px;
  display:flex;
  margin: 8px auto;
  height: 53px;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-secundary);
  transition-duration: 400ms;
 
}

ul li a:hover {
  background-color: var(--bg-secundary-hover);
}

ul li a i {
  margin-right: 3px;
}

footer {
  display: none;
  margin-top: 40px;
  font-size: 14px;
  color: var(--cl-primary);
  opacity: 0.6;
  transition: opacity 300ms;
}


footer:hover {
  opacity: 1;
}

footer a{
  color: var(--cl-primary);
}
i.fa-heart {
  background: -webkit-gradient(linear, left top, left bottom, from(#f00), to(#333));
	background-clip: text;
	-webkit-text-fill-color: transparent;
}